{% extends 'base.html.twig' %}

{% block title %}New post{% endblock %}

{% block body %}
    <div class="page-body">
        <div class="container-xl">
            <h2>New post</h2>
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_row(form.aboutUrl) }}
                        {{ form_row(form.aboutLabel) }}
                        {{ form_row(form.title) }}
                        {{ form_row(form.body) }}
                        {{ form_row(form.publish, {attr: {class: 'btn btn-primary'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
